<!DOCTYPE html>
<html lang="en" style="background: black">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    <!-- Set base href for relative URLs -->
    <base href="{{ site.baseUrl }}" />
    <link rel="stylesheet" href="assets/css/tuicss.min.css" />
  </head>
  <body class="tui-bg-blue-black">
    <div class="tui-screen-1024-768 bordered white-168 centered">
      <div
        class="tui-panel cyan-168 full-width black-255-text tui-no-shadow center"
      >
        {{ site.title }}
      </div>

      {% include "partials/header.njk" %}

      <div class="tui-tab-content tui-content" style="display: block">
        <div class="tui-window full-width tui-no-shadow">
          <fieldset class="tui-fieldset">
            <section class="main-content">
              <!-- <br /> -->
              {{ content | safe }}
            </section>
          </fieldset>
        </div>
      </div>

      {% include "partials/footer.njk" %}
    </div>
  </body>
</html>
