
<header>
  <div class="container">
    <nav>
      <a href="/" {% if page.url == '/' %}class="active"{% endif %}>[MAIN]</a>
      <a href="/instructions/" {% if page.url == '/instructions/' %}class="active"{% endif %}>[INSTRUCTIONS]</a>
      <a href="/faq/" {% if page.url == '/faq/' %}class="active"{% endif %}>[FAQ]</a>
    </nav>
  </div>
</header>
